.watchlist {
  width: 100%;
  margin-top: 15px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  width: 681px;
  filter: drop-shadow(0 0 10px #3939ca8e);
}
.post___top {
  display: flex;
  position: relative;
  align-items: center;
  padding: 15px;
}
.post___avatar {
  margin-right: 10px;
}
.post___topInfo > h3 {
  font-size: medium;
}
.post___topInfo > p {
  font-size: small;
  color: gray;
}
.post___bottom {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 25px;
}
.post___image > img {
  width: 100%;
}
.post___options {
  padding-top: 10px;
  border-top: 1px solid lightgrey;
  display: flex;
  justify-content: space-evenly;
  font-size: medium;
  color: gray;
  cursor: pointer;
  padding: 15px;
}
.post___option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  flex: 1;
}
.post___option > p {
  margin-left: 10px;
}
.post___option:hover {
  /* background-color: #eff2f5; */
  border-radius: 10px;
  filter: drop-shadow(0 0 10px #3939ca8e);
}
